body {
    background-color: #e3d7ea ;
    font-family: Arial, Helvetica, sans-serif;



}

.header {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80% 20%;
}

.logo_position {
    grid-column: 1;
    grid-row: 1;
    vertical-align: center;
}

.logo_size {
    width: 100px;
}

h1{
    text-align: center;
    grid-column: 2 / span 3;
    grid-row: 1;
    vertical-align: center;
    padding-top: 0.5em;

}

.all{
    padding: 0.5em;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8em;
    text-decoration: underline;

}
.completed{
    padding: 0.5em;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8em;

}

.to_be_completed{
    padding: 0.5em;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8em;
}

.complete {
    font-size: 0.8em;
    background-color: #7060AA; 
    padding: 1em
    
}

.notDone{
    font-size: 0.8em;
    background-color: #BEEDDC;
    padding: 1em;

}

.list_style {
    list-style: none; 
    padding: 0em
       
}

.list_section {
      margin-top: 1em;
     
}

.img_position {
    text-align: right;

}
.img{
    width: 70px;
    
}
/* .ListItem {
    margin-right: em;
    padding: 1em;
    background-color: grey;
} */
